3  1-23/2 * * *  /home/jmfriedt/2401/gosampling.sh 
# 25 1-23/2 * * *  /home/jmfriedt/2401/gosampling.sh 
45 1-23/2 * * *  /home/jmfriedt/2401/gosampling.sh 
53 1-23/2 * * *  /home/jmfriedt/2401/goprocess.sh 
