06 01 * * *  /root/go.sh 3
06 03 * * *  /root/go.sh 3
06 05 * * *  /root/go.sh 3
06 07 * * *  /root/go.sh 3
06 09 * * *  /root/go.sh 3
06 11 * * *  /root/go.sh 3
06 13 * * *  /root/go.sh 3
06 15 * * *  /root/go.sh 3
06 17 * * *  /root/go.sh 3
06 19 * * *  /root/go.sh 3
06 21 * * *  /root/go.sh 3
06 23 * * *  /root/go.sh 3
45 01 * * *  /root/go.sh 3
45 03 * * *  /root/go.sh 3
45 05 * * *  /root/go.sh 3
45 07 * * *  /root/go.sh 3
45 09 * * *  /root/go.sh 3
45 11 * * *  /root/go.sh 3
45 13 * * *  /root/go.sh 3
45 15 * * *  /root/go.sh 3
45 17 * * *  /root/go.sh 3
45 19 * * *  /root/go.sh 3
45 21 * * *  /root/go.sh 3
45 23 * * *  /root/go.sh 3
